 		<footer id="footer" class="footer">
			<div class="container">
				<div class="footer-ribbon"><span>ua.smakuy.com</span></div>
				<form action="#">
					<div class="row subscription">
						<div class="col-lg-3">
							<h4>
								ПОДПИСАТЬСЯ НА РАССЫЛКУ
							</h4>
						</div>
						<div class="col-lg-6">
							<input type="text" class="form-control" placeholder="Введите ваш адрес электронной почты" required>
							<div class="error-msg">
								<!-- <span>Пожалуйста, введите адрес электронной почты!</span> -->
							</div>
						</div>
						<div class="col-lg-3">
							<button type="submit" class="btn btn-orange">
								<i class="icon-envelope"></i>
								Подписаться
							</button>
						</div>
					</div>
				</form>
				<div class="row banner">
					<div class=" col-md-6 col-lg-3">
						<div class="banner-item">
							<div class="icon-box">
								<i class="icon-phone"></i>
							</div>
							<div class="text-holder">
								<h5>ЗАКАЗЫ ПО ТЕЛЕФОНУ</h5>
								<ul>
									<li><a href="tel:+380504066173">+38 (050) 406-61-73</a></li>
									<li><a href="tel:+380981662393">+38 (098) 166-23-93</a></li>
									<li><a href="tel:+380635790168">+38 (063) 579-01-68</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class=" col-md-6 col-lg-3">
						<div class="banner-item">
							<div class="icon-box">
								<i class="icon-hourglass-half"></i>
							</div>
							<div class="text-holder">
								<h5>РАБОЧЕЕ ВРЕМЯ</h5>
								<p>Мы работаем: Пн-Пт с 9-00 до 20-00, Сб с 9-00 до 18-00, Вс выходной</p>
							</div>
						</div>
					</div>
					<div class=" col-md-6 col-lg-3">
						<div class="banner-item modal-opener">
							<div class="icon-box">
								<i class="icon-question-circle"></i>
							</div>
							<div class="text-holder">
								<h5>Тех поддержка</h5>
								<p>Менеджер свяжется с вами <br> в течении 5 минут</p>
							</div>
						</div>
					</div>
					<div class=" col-md-6 col-lg-3">
						<div class="banner-item modal-opener">
							<div class="icon-box">
								<i class="icon-smile-o"></i>
							</div>
							<div class="text-holder">
								<h5>Для Сотрудничества</h5>
								<p>Приглашаем дилеров <br> к сотрудничеству</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-lg-3">
						<div class="contacts">
							<h3>НАШИ КОНТАКТЫ</h3>
							<ul class="contact-menu">
								<li><a href="tel:+380504066173"><i class="icon-phone-square"></i>+38 (050) 406-61-73</a></li>
								<li><a href="tel:+380981662393"><i class="icon-phone-square"></i>+38 (098) 166-23-93</a></li>
								<li><a href="tel:+380635790168"><i class="icon-phone-square"></i>+38 (063) 579-01-68</a></li>
								<li><a href="mailto:sales@smakuy.com"><i class="icon-envelope"></i>sales@smakuy.com</a></li>
								<li><i class="icon-clock-o"></i>Мы работаем: Пн-Пт с 9-00 до 20-00, Сб с 9-00 до 18-00, Вс выходной</li>
								<li><i class="icon-globe"></i>пр. Московский 257, НИИ Кондиционер, г. Харьков</li>
							</ul>
							<p>Мы в социальных сетях:</p>
							<ul class="social-menu">
								<li><a href="#"><i class="icon-facebook"></i></a></li>
								<li><a href="#"><i class="icon-youtube-play"></i></a></li>
								<li><a href="#"><i class="icon-instagram"></i></a></li>
								<li><a href="#"><i class="icon-vk"></i></a></li>
								<li><a href="#"><i class="icon-odnoklassniki"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-lg-6 order-md-1 order-lg-0">
						<div class="map-box">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2566.3920433183994!2d36.32121531571388!3d49.96650597941142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDnCsDU3JzU5LjQiTiAzNsKwMTknMjQuMyJF!5e0!3m2!1sru!2s!4v1503059760813" allowfullscreen=""></iframe>
						</div>
					</div>
					<div class="col-md-3 col-lg-3">
						<ul class="footer-menu">
							<li><a href="#">Все товары</a></li>
							<li><a href="#">Статьи</a></li>
							<li><a href="#">О нас</a></li>
							<li><a href="#">Гарантия</a></li>
							<li><a href="#">Оплата и Доставка</a></li>
							<li><a href="#">Политика Безопасности</a></li>
							<li><a href="#">ОПТ и Дилерство</a></li>
							<li><a href="#">Видео сборка, перегонка</a></li>
							<li><a href="#">Калькулятор самогонщика. Подбор аппарата</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer__modal modal-overlay">
				<div class="modal-container">
					<a href="#" class="modal-close"><i class="icon-close1"></i></a>
					<form action="#">
						<div class="form-col">
							<input type="text" class="form-control" placeholder="Ваше Имя">
							<span class="icon-box">
								<i class="icon-user"></i>
							</span>
						</div>
						<div class="form-col">
							<input type="text" class="form-control" placeholder="Номер телефона">
							<span class="icon-box">
								<i class="icon-phone-square"></i>
							</span>
						</div>
						<div class="form-col">
							<input type="text" class="form-control">
							<span class="icon-box">
								<i class="icon-comment"></i>
							</span>
						</div>
						<div class="btn-col">
							<input type="submit" class="btn btn-orange" value="Заказать звонок">
						</div>
					</form>
				</div>
			</div>
			<div class="addcart__modal modal-overlay">
				<div class="modal-container">
					<div class="modal-head">
						<a href="#">
							Самогонный аппарат "Старт" - 12 л.
						</a>
						добавлен
						<a href="#">
							в корзину покупок
						</a>
						!
					</div>
					<div class="modal-img">
						<img src="img/ss12.jpg" alt="image description">
					</div>
					<div class="modal-btn-box d-lg-flex justify-content-between">
						<div class="btn-holder">
							<a href="#" class="btn">Продолжить покупки</a>
						</div>
						<div class="btn-holder">
							<a href="#" class="btn btn-green">Оформление заказа</a>
						</div>
					</div>
				</div>
			</div>
			<div class="fastorder__modal modal-overlay">
				<div class="modal-container">
					<div class="modal-head">
						<p>Купить в 1 клик</p>
						<a href="#" class="modal-close">
							<i class="icon-close1"></i>
						</a>
					</div>
					<form action="#" class="modal-form">
						<div class="modal-product">
							<div class="row align-items-center">
								<div class="col-md-5 d-flex">
									<div class="img-box">
										<img src="img/img_thumb.jpg" alt="image description">
									</div>
									<div class="text-box">
										<p>
											Самогонный аппарат "Старт" - 12 л.
										</p>
									</div>
								</div>
								<div class="col-md-7">
									<div class="product-caption">
										<div class="product-quantity">
											<div class="input-group">
												<button class="btn-quantity minus" type="button">-</button>
												<input class="input-quantity" type="text" value="1">
												<button class="btn-quantity plus" type="button">+</button>
											</div>
										</div>
										<div class="product-price">
											<span class="price-old" data-price="4290">4290 <span>грн</span></span>
											<span class="price-new" data-price="3690">3690 грн</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-6">
								<div class="form-col">
									<input type="text" class="form-control" placeholder="Ваше Имя">
									<span class="icon-box">
										<i class="icon-user"></i>
									</span>
								</div>
								<div class="form-col">
									<input type="text" class="form-control" placeholder="Номер телефона">
									<span class="icon-box">
										<i class="icon-phone-square"></i>
									</span>
								</div>
								<div class="form-col">
									<input type="text" class="form-control" placeholder="Коментарий">
									<span class="icon-box">
										<i class="icon-comment"></i>
									</span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="payment_method">
									<h4 class="payment_method-head">
										<i class="icon-credit-card"></i>
										Способ Оплаты
									</h4>
									<div class="payment_method-body">
										<label>
											<input type="radio" name="payment_method">
											Оплата картой
										</label>
										<label>
											<input type="radio" name="payment_method">
											Наложенный платеж
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="btn-box">
							<div class="btn-holder">
								<a href="#" class="btn btn-green">
									Оформить заказ
								</a>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="preview__modal modal-overlay">
				<div class="modal-container">
					<a href="#" class="modal-close">
						<i class="icon-close1"></i>
					</a>
					<div class='product-tabs'>
						<ul class='tabnav'>
							<li><a href="#tab-1">Основное</a></li>
							<li><a href="#tab-2"><i class="icon-file-text-o"></i>Описание</a></li>
							<li><a href="#tab-3"><i class="icon-list-alt"></i>Характеристики</a></li>
							<li><a href="#tab-4"><i class="icon-comments-o"></i>Отзывов (22)</a></li>
							<li><a href="#tab-5">Размеры</a></li>
							<li><a href="#tab-6">Комплектация</a></li>
						</ul>
						<div id='tab-1' class="tab-content">
							<div class="main-preview">
								<div class="row">
									<div class="col-md-5">
										<div class="preview-slider">
											<div class="preview-slider-main">
												<img src="img/modal-slide.jpg" alt="image-description">
											</div>
											<ul class="preview-slider-thumb">
												<li class="imgView active">
													<div>
														<img src="img/modal-slide.jpg" alt="image-description">
													</div>
												</li>
												<li class="imgView">
													<div>
														<img src="img/modal-slide2.jpg" alt="image-description">
													</div>
												</li>
											</ul>
										</div>
									</div>
									<div class="col-md-7">
										<div class="main-description product-caption">
											<div class="main-description-item">
												<h3>
													САМОГОННЫЙ АППАРАТ "СТАРТ" - 12 Л.
												</h3>
											</div>
											<div class="main-description-item">
												<div class="rating">
													<ul class="rating-box">
														<li><i class="icon-star"></i></li>
														<li><i class="icon-star"></i></li>
														<li><i class="icon-star"></i></li>
														<li><i class="icon-star"></i></li>
														<li><i class="icon-star"></i></li>
													</ul>
													<div class="rating-links">
														<a href onclick="$('a[href=\'#tab-4\']').trigger('click'); return false;">22 отзывов</a>
														/
														<a href onclick="$('a[href=\'#tab-4\']').trigger('click'); return false;">Написать отзыв</a>
													</div>
												</div>
											</div>
											<div class="main-description-item">
												<div class="product-price">
													<span class="price-old" data-price="4290">4290 <span>грн</span></span>
													<span class="price-new" data-price="3690">3690 грн</span>
												</div>
											</div>
											<div class="main-description-item">
												<div class="preview-product-info">
													<div class="manufacturer">
														<span><i class="icon-check"></i>Производитель:</span> Смакуй
													</div>
													<div class="quick-model">
														<span><i class="icon-check"></i>Модель:</span> <span>Самогонный аппарат "Старт" - 10л.</span>
													</div>
													<!-- <div class="quick-stock">
														<span><i class="icon-check"></i>Наличие:</span> <span class="in-stock">Есть вналичии</span>
													</div> -->
													<div class="product-availability success">
														<i class="icon-check"></i>
														<strong>Наличие:</strong>
														<strong class="stock-status">
															Есть
														</strong>
													</div>
												</div>
											</div>
											<div class="main-description-item">
												<div class="product-quantity">
													<div class="input-group">
														<input class="input-quantity" type="text" value="1">
														<button class="btn-quantity minus" type="button"><i class="icon-minus"></i></button>
														<button class="btn-quantity plus" type="button"><i class="icon-plus"></i></button>
													</div>
													<div class="btn-holder">
														<a href="#" class="btn btn-primary addcart-opener">
															<i class="icon-shopping-basket"></i>
															Добавить в корзину
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id='tab-2' class="tab-content">
							<div class="description">
								<div class="description-video">
									<iframe src="https://www.youtube.com/embed/31yMe1C_cYo"
										allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
								<div class="about-text">
									<h2>
										Устройство и принцип работы самогонного аппарата Старт 12 л
									</h2>
									<p>
										1. Брага заливается в перегонный куб. Самогонный аппарат подключается к водопроводу и ставится на плиту.
									</p>
									<p>
										2. При нагревании браги спиртосодержащие пары поднимаются по вертикальной царге, где фильтруются от
										вредных примесей
										насадками Панченкова.
									</p>
									<p>
										3. При температуре 86-87 градусов по Цельсию в дефлегматоре сивушные масла конденсируются и стекают
										обратно в перегонный
										куб.
									</p>
									<p>
										4. Очищенный спирт в виде пара попадает в прямоточный теплообменник-холодильник, в котором спиртовые пары
										конденсируются
										и выходят через трубку сбора в виде спирта.
									</p>
									<p>
										5. В процессе перегонки и отделения "голов" и "тела" спирта, "хвосты" в виде барды остаются на дне <a
											href="#">перегонного куба</a>.
									</p>
									<p>
										Принимая решение об организации производства домашних спиртных напитков, многие начинающие винокуры не
										знают с чего
										начать, какое оборудование нужно купить, где брать необходимые ингредиенты и т. п. Один из самых известных
										в нашей
										стране производитель дистилляторов компания «Смакуй» предлагает новичкам приобрести самогонный аппарат
										Старт - 12 л.,
										который позволяет изготавливать алкоголь практически всем желающим, без специальных знаний и опыта.
									</p>
									<p>
										Представленный самогонный аппарат Старт 12 л. дает возможность контролировать процесс дистилляции при
										помощи
										термометров, а безопасность процедуры обеспечивает специальный аварийный клапан. Несмотря на простую
										конструкцию (если
										сравнивать с оборудованием для профессионалов), данный дистиллятор выполняет все предусмотренные
										производителем функции.
										Компактный агрегат позволяет проводить перегонку браги даже в небольшой кухне вашей квартиры. Насадки
										Панченкова
										обеспечивают дополнительную очистку самогона от вредных фракций.
									</p>
									<p>
										Для многих винокуров самогонный аппарат Старт 12 л. стал первым агрегатом, который помог им понять, что
										самогоноварение
										– это не просто процесс перегонки браги, но и очень увлекательное занятие, позволяющее получить массу
										позитивных эмоций.
									</p>
									<img src="img/napitki.png" alt="image-description">
								</div>
							</div>
						</div>
						<div id='tab-3' class="tab-content">
							<div class="feature">
								<div class="feature-about">
									<div class="feature-about-head">
										<strong>
											О товаре
										</strong>
									</div>
									<div class="feature-about-body">
										<div class="feature-about-vendor">
											<p>
												Артикул
											</p>
										</div>
										<div class="feature-about-num">
											<p>
												400009
											</p>
										</div>
									</div>
								</div>
								<div class="about-text">
									<h3>
										Технические характеристики самогонного аппарата Старт 12 л:
									</h3>
									<p>
										Скорость перегонки браги - 3 л/ч; <br>
										Скорость перегонки спирта-сырца - 1,5 л/ч; <br>
										Расход воды - 35-45 л/ч; <br>
										Максимальная крепость продукта - 88-90 град. <br>
										Нагрев - Газ, электрическая плита, индукционная плита.
									</p>
									<img src="img/tab-img1.jpg" alt="image-description">
									<img src="img/tab-img2.jpg" alt="image-description">
									<img src="img/tab-img3.jpg" alt="image-description">
								</div>
							</div>
						</div>
						<div id='tab-4' class="tab-content">
							<div class="reviews">
								<div class="reviews-item">
									<div class="reviews-item-head">
										<div class="name">
											<p>
												<i class="icon-user"></i>
												Вадим
											</p>
										</div>
										<div class="rating">
											<ul class="rating-box">
												<li><i class="icon-star"></i></li>
												<li><i class="icon-star"></i></li>
												<li><i class="icon-star"></i></li>
												<li><i class="icon-star"></i></li>
												<li><i class="icon-star"></i></li>
											</ul>
										</div>
										<div class="date">
											<time datetime="2018-12-13">
												13.12.2018
											</time>
										</div>
									</div>
									<div class="reviews-item-body">
										<div class="comment">
											<p>
												Придбав собі апарат "Старт". Вже кілька разів робив дистиляцію. Якість продукту приємно здивував.
												Планую брати більший
												куб.
											</p>
										</div>
										<div class="reviews-plus">
											<span>
												<i class="icon-plus"></i>
												Достоинства:
											</span>
											- Легкість в користуванні <br>
											- зовнішній вигляд <br>
											- якість продукту
										</div>
										<div class="reviews-minus">
											<span>
												<i class="icon-minus"></i>
												Недостатки:
											</span>
											не зручно регулювати температуру в дефлегматорі, якщо подача води йде спочатку в холодильник. Планую
											придбати
											професійний набір охолодження.
										</div>
									</div>
								</div>
								<div class="reviews-item">
									<div class="reviews-item-head">
										<div class="name">
											<p>
												<i class="icon-user"></i>
												Вадим
											</p>
										</div>
										<div class="rating">
											<ul class="rating-box">
												<li><i class="icon-star"></i></li>
												<li><i class="icon-star"></i></li>
												<li><i class="icon-star"></i></li>
												<li><i class="icon-star"></i></li>
												<li><i class="icon-star"></i></li>
											</ul>
										</div>
										<div class="date">
											<time datetime="2018-12-13">
												13.12.2018
											</time>
										</div>
									</div>
									<div class="reviews-item-body">
										<div class="comment">
											<p>
												Придбав собі апарат "Старт". Вже кілька разів робив дистиляцію. Якість продукту приємно здивував.
												Планую брати
												більший
												куб.
											</p>
										</div>
										<div class="reviews-plus">
											<span>
												<i class="icon-plus"></i>
												Достоинства:
											</span>
											- Легкість в користуванні <br>
											- зовнішній вигляд <br>
											- якість продукту
										</div>
										<div class="reviews-minus">
											<span>
												<i class="icon-minus"></i>
												Недостатки:
											</span>
											не зручно регулювати температуру в дефлегматорі, якщо подача води йде спочатку в холодильник. Планую
											придбати
											професійний набір охолодження.
										</div>
									</div>
								</div>
							</div>
							<form action="#" class="reviews-form">
								<h2>Написать отзыв</h2>
								<div class="form-col">
									<label>
										<p><span>*</span> Ваше имя:</p>
										<input type="text" class="form-control">
									</label>
								</div>
								<div class="form-col">
									<label>
										<p><span>*</span> Ваш отзыв:</p>
										<textarea class="form-control"></textarea>
									</label>
									<p><span>Примечание:</span> HTML разметка не поддерживается! Используйте обычный текст.</p>
								</div>
								<div class="form-col">
									<label>
										<p><span>*</span> Достоинства:</p>
										<textarea class="form-control"></textarea>
									</label>
								</div>
								<div class="form-col">
									<label>
										<p><span>*</span> Недостатки:</p>
										<textarea class="form-control"></textarea>
									</label>
								</div>
								<div class="form-col">
									<div class="review-rating">
										<label>
											<p><span>*</span> Оценка:</p>
										</label>
										<p>Плохо</p>
										<ul>
											<li><input type="radio" name="review-rating"></li>
											<li><input type="radio" name="review-rating"></li>
											<li><input type="radio" name="review-rating"></li>
											<li><input type="radio" name="review-rating"></li>
											<li><input type="radio" name="review-rating"></li>
										</ul>
										<p>Хорошо</p>
									</div>
								</div>
								<div class="form-col btn-box">
									<input type="submit" class="btn btn-primary" value="Отправить отзыв">
								</div>
							</form>
						</div>
						<div id='tab-5' class="tab-content">
							<div class="about-text">
								<h3>
									Размеры аппарата Старт 12 л:
								</h3>
								<p>
									Высота - 50 см; <br>
									Толщина стенок - 1,5 мм; <br>
									Диаметр дефлегматора - 38 мм; <br>
									Диаметр укрепляющей колонны - 1 1/4 дюйма.
								</p>
								<h3>
									Размеры куба:
								</h3>
								<p>
									Высота - 25 см; <br>
									Диаметр - 25 см; <br>
									Диаметр горловины - 13 см; <br>
									Толщина крышки - 2 мм; <br>
									Толщина стенок - 1,5 мм; <br>
									Толщина дна - 3 мм;
								</p>
							</div>
						</div>
						<div id='tab-6' class="tab-content">
							<div class="about-text">
								<h2>
									Самогонный аппарат Старт 12 комплектация :
								</h2>
								<ul>
									<li>Емкость 12 л - 1 шт;</li>
									<li>Аппарат Старт - 1 шт;</li>
									<li>СантехКомплект - 1 шт.</li>
								</ul>
								<h4>
									СантехКомплект:
								</h4>
								<p>
									- термометр - 2 шт; <br>
									- шланг армированный ПВХ 8 мм - 5 м; <br>
									- штуцер 1/2 на 8 мм - 1 шт; <br>
									- взрывной клапан - 1 шт; <br>
									- шланг 4-2 для термометров - 0,05 м; <br>
									- кран для слива браги - 1 шт; <br>
									- врезка в куб - 1 шт; <br>
									- шланг 10 мм - 0,5 м; <br>
									- инструкция - 1 шт; <br>
									- силиконовая прокладка 165 мм - 1 шт; <br>
									- силиконовая прокладка 90 мм - 1 шт; <br>
									- болты - 10 шт; <br>
									- барашки 10 шт; <br>
									- спиртометр - 1 шт; <br>
									- фум лента - 1 шт; <br>
									- паранитовая прокладка 1/4 - 1 шт; <br>
									- насадка панченкова - 2 шт;
									- фланец 165 мм - 1 шт.
								</p>
								<ul>
									<li>
										- комплектация может быть изменена.
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="wishlist__modal modal-overlay">
				<div class="modal-container">
					<div class="text-box">
						<i class="icon-check-circle"></i>
						Вы добавили
						<a href="#">Самогонный аппарат "Старт" - 12 л.</a>
						в
						<a href="#">
							Закладки
						</a>
						!
					</div>
					<a href="#" class="modal-close"><i class="icon-close1"></i></a>
				</div>
			</div>
			<div class="compare__modal modal-overlay">
				<div class="modal-container">
					<div class="text-box">
						<i class="icon-check-circle"></i>
						Товар
						<a href="#">Самогонный аппарат "Старт" - 12 л.</a>
						добавлен в ваш
						<a href="#">
							список сравнения
						</a>
						!
					</div>
					<a href="#" class="modal-close"><i class="icon-close1"></i></a>
				</div>
			</div>
			<div class="login__modal modal-overlay">
				<div class="modal-container">
					<div class="modal-head">
						<p>Авторизация</p>
						<a href="#" class="modal-close">
							<i class="icon-close1"></i>
						</a>
					</div>
					<form action="#">
						<div class="modal-body">
							<div class="form-col">
								<span class="icon-box">
									<i class="icon-envelope"></i>
								</span>
								<input type="text" name="email" value="" placeholder="E-Mail" class="form-control">
							</div>
							<div class="form-col">
								<span class="icon-box">
									<i class="icon-lock"></i>
								</span>
								<input type="password" name="password" value="" placeholder="Пароль" class="form-control">
							</div>
							<div class="link-box">
								<a href="#">Регистрация</a> | 
								<a href="#">Забыли пароль?</a></div>
						</div>
						<div class="modal-footer">
							<input type="button" value="Войти" class="btn">
						</div>
					</form>
				</div>
			</div>
		</footer>
	</div>
	<script src="js/jquery.min.js"></script>
	<script src="js/slick.min.js"></script>
	<!-- <script src="js/jquery.tabslet.min.js"></script> -->
	<script src="js/jquery.fancybox.min.js"></script>
	<script src="js/flipclock.min.js"></script>
	<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="js/my.js"></script>
</body>
</html>