.catalog-section {
  &-filter {
    display: inline-flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    margin-bottom: 30px;
    
    a {
      color: $gray-300;
    }

    .view-switch {
      font-size: 16px;
      display: flex;
      display: flex;
      align-items: center;
      background-color: #f0f0f0;
      padding: 7.5px 10px;
    }

    .drop-white {
      margin: 0;

      a {
        padding: 7.5px 10px;
      }

      .drop-menu {
        left: -1px;
        right: auto;
        font-size: inherit;
        top: 111%;
        min-width: 160px;
        z-index: 1;
      }
    }

    >li {
      border-right: 1px solid #ccc;
      display: flex;

      &.active {
        .view-switch {
          color: $white;
          box-shadow: inset 0 1000px 0 rgba(0,0,0,0.1);
          background-color: $orange;
        }
      }

      &:last-child {
        border: 0;
      }
    }
  }
}

.product-list {
  >[class*="col"] {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .product {
    flex-direction: row;
    padding: 10px;

    &-img {
      width: 33.33%;
    }

    &-caption {
      width: 66.66%;
      text-align: left;
      padding: 0;
    }

    &-name {
      height: unset;
    }

    &-description {
      height: unset;
    }

    &-rating {
      .rating-box {
        padding: 0;
      }

      &:before {
        display: none;
      }
    }

    &-quantity {
      .input-group {
        justify-content: flex-start;
      }
    }

    &-btn {
      justify-content: flex-start;
    }

    .stickers {
      top: 10px;
      left: 10px;
    }
  }
}

.product-table {
  >[class*="col"] {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;

    &:first-child {
      .product {
        border-radius: 5px 5px 0 0;
      }
    }

    &:last-child {
      .product {
        border-radius: 0 0 5px 5px;
        border-bottom: 1px solid #ddd;
      }
    }
  }

  .product {
    flex-direction: row;
    margin-bottom: 0;
    border-radius: 0;
    border-bottom: 0;

    &:hover {
      box-shadow: none;
    }

    &-img {
      border-right: 1px solid #ddd;
      max-width: 60px;
      padding: 5px;
      display: none;

      @media (min-width: 768px) {
        display: block;
      }
    }

    &-caption {
      display: flex;
      justify-content: space-between;
      padding: 0;
      
      @media (min-width: 768px) {
        width: calc(100% - 60px);
      }
    }

    &-name {
      border-right: 1px solid #ddd;
      height: unset;
      display: flex;
      align-items: center;
      padding: 5px;
      width: 50%;
      
      a {
        font-size: 14px;
      }
    }

    &-model {
      border-right: 1px solid #ddd;
      padding: 5px;
      display: none;
      
      @media (min-width: 992px) {
        display: flex;
        align-items: center;
        width: 15%;

      }
    }

    &-price {
      border-right: 1px solid #ddd;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: 5px;
      width: 20%;
      
      @media (min-width: 992px) {
        width: 13%;
      }

      .price-old {
        margin: 0;
      }
    }

    &-description {
      display: none;
    }

    &-rating {
      display: none;
    }

    &-quantity {
      border-right: 1px solid #ddd;
      margin: 0;
      padding: 5px;
      display: none;
      
      @media (min-width: 992px) {
        display: flex;
        align-items: center;
      }

      .input-quantity {
        max-width: 50px;
      }

      .btn-quantity {
        width: 20px;
        padding: 3px 6px;
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      padding: 5px;
    }

    .stickers,.quickview {
      display: none;
    }
  }
}




.faq-block{
  max-width: 800px;
  width: 100%;
  margin: 30px 0;
  user-select: none;
  @media (max-width: 768px){
    margin: 20px 0;
  }
}

.faq-block__item-title {
    font-weight: 500;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    padding: 15px 30px 15px 10px;
}

.faq-block__item {
    border: 1px solid rgba(0,0,0,.2);
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: box-shadow .3s ease,border-color .3s ease;
    transition: box-shadow .3s ease,border-color .3s ease,
    -webkit-box-shadow .3s ease;
    box-shadow: 0 6px 10px transparent;
    position: relative;
    // &:hover {
    //     border-color: $orange;
    // }
    &:after{
      position: absolute;
      content: "\e931";
      font-family: "icomoon";
      font-size: 24px;
      top: 8px;
      right: 10px;
      transition: all 0.3s;
    }
    &.active{
        box-shadow: 0 6px 10px rgba(0,0,0,.2);
      &:after{
        transform: rotate(-90deg);
      }
    }
}


.faq-block__item-title {
    font-weight: 500;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    padding: 15px 30px 15px 15px;
}

.faq-block__item-content {
    color: rgba(0,0,0,.5);
    padding: 10px;
    padding-left: 20px;
    padding-right: 30px;
    display: none;
    a {
        // color: $orange !important;
        &:hover{
          text-decoration: underline;
        }
    }
    ul{
      padding-left: 10px;
      list-style-type: disc;
    }
    li{
      margin-bottom: 10px;
    }
}

.faq-block__item-content.active{
  display: block;
}

h3{
  margin: 0;
  padding: 0;
}

